/* .navbar{ */
    /* align-items: start;
    justify-content: space-between;
    display: inline-flexbox; */
    /* background-color: aqua;
    overflow: hidden;
}
.navbar a{
    float:right;
    text-align: center;
    padding: 14px 16px;
    margin-left: 80px;
    margin-right: 30px 30%;
    justify-content:center;
}
body{
    background-color: red;
} */