body{
    background-color: black;
  margin: auto;
    padding: 30%;
    margin-bottom: 50px;
  
}
.container{
    background-color: rgb(147, 196, 147);
    padding: 50px;
    margin: 10%;

}
#qrText{
    text-align: center;
    justify-content: center;
   border-radius: 5%;
   margin: 5%;
   padding: 20%;
}
#qrImg{
    align-items: center;
    justify-content: center;
}
button{
    background-color: red;
    float: right;
}
h2{
   text-align: center; 
   text-decoration: double;
   justify-content: center;
   font-style: bold;
   text-transform: capitalize;
}
.error{
    animation: shake 0.1s linear 10 ;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-20);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2);
    }
    100%{
        transform: translateX(0);
    }
}