body {
  margin: 0;
  padding: 0;
}

.navigation {
  margin-top: 25px;
  font-family: var(--font1);
  height: 74px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
}
.nav-left  span{
  font-size: 35px;
padding-top: 10px;
}
.nav-left ul  {
display: flex;
align-items: center;
margin: 0 77px;
font-size: 22px;
  }
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
}
.nav-left ul li a {
    text-decoration: none;
    color: black;
    
  }
  .nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
  }
  .content{
    display: flex;
    height: 395px;
    /* background-color: rgb(236, 236, 239); */
    margin-top: 32px;
    padding: 12px;
    position: relative;
  }
  .content::after{
content: "";
background-image: url('../img/11.svg');
position: absolute;
width: 100%;
height: inherit;
opacity: 0.15;

  }
.content-left{
font-family: var(--font1);

/* align-items: center; */
flex-direction: column;
justify-content: center;
display: flex;
padding: 50px;

}
.content-right
{

align-items: center;
justify-content: center;
display: flex;
}
.content-right img{
  height: 355px;
  border: 2px solid black;
  border-radius: 200px;
}

.home-articles{
padding: 18px;
  background-color: rgb(245, 224, 224);
margin-top: 23px;
}
.home-article{
  display: flex;
  margin: 25px;
}
.home-article img{
  width: 300px;
}
.home-article-content{
  align-self: center;
  padding: 25px;
}
.footer {
  height: 50px;
  padding: 15px;
  background-color: var(--main-bg-color);
  align-items: center;
  justify-self: center;
  display: flex;
  color:white;
  flex-direction: column;
}
.footer a{
  color: white;
}
